[submodule "url-spider"]
	path = url-spider
	url = git@github.com:IslayAnderson/url-spider.git
	branch = master
[submodule "url-redirect"]
	path = url-redirect
	url = git@github.com:IslayAnderson/url-redirect.git
	branch = main
